.chosing {
    background-image: url(../images/bg-triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
    .items-top {
        margin-bottom: 100px;
        justify-content: space-around;
    }
    .item-bottom {
        margin-top: 35px;
        justify-content: center;
    }
    .item-bottom,
    .items-top {
        z-index: 1;
        display: flex;
    }
}