.chosing {
    max-width: 800px;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "paper scissors rock";
    .paper,
    .scissors,
    .rock {
        &:hover {}
    }
    .paper {
        grid-area: paper;
    }
    .scissors {
        grid-area: scissors;
    }
    .rock {
        grid-area: rock;
    }
}