.combate {
    display: none;
    justify-content: space-around;
    padding-top: 20px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            text-align: center;
            color: white;
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    .result {
        h2 {
            font-size: 50px;
        }
        button {
            height: 50px;
            width: 200px;
            border-radius: 5px;
            &:hover {
                color: red;
            }
        }
    }
}