@import "./variables";
@import "./chosing";
@import "./combate";
.container {
    background-color: $dark_text;
    width: 100%;
    height: 100vh;
    padding: 30px;
    .main_header {
        width: 100%;
        margin-bottom: 80px;
    }
    header {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        border: 1px solid $header;
        border-radius: 10px;
        .scoreContainer {
            background-color: white;
            padding: 10px 20px;
            font-size: 10px;
            border-radius: 5px;
            text-align: center;
            .score {
                font-size: 35px;
                color: $score_text;
            }
        }
    }
    main {
        max-width: 400px;
        .arma {
            background-color: $radial_ini;
            cursor: pointer;
            width: 120px;
            height: 120px;
            border-radius: 60px;
            border: 15px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            &.rock {
                background: linear-gradient(white, whitesmoke) padding-box, linear-gradient(to bottom, $rock_color_ini, $rock_color_fin) border-box;
            }
            &.paper {
                background: linear-gradient(white, whitesmoke) padding-box, linear-gradient(to bottom, $paper_color_ini, $paper_color_fin) border-box;
            }
            &.scissors {
                background: linear-gradient(white, whitesmoke) padding-box, linear-gradient(to bottom, $scissors_color_ini, $scissors_color_fin) border-box;
            }
        }
    }
    #rules {
        display: none;
        position: absolute;
        top: 20px;
        background-color: white;
        width: 365px;
        padding: 20px;
        header {
            border: none;
            #icon_close {
                cursor: pointer;
            }
        }
    }
    footer {
        button {
            position: absolute;
            right: 20px;
            bottom: 10px;
            color: white;
            padding: 10px 25px;
            border-radius: 10px;
            background-color: transparent;
        }
    }
}